<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SKABot statistik</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
</head>
<body>

	<div class="container">

		{{> menu.mustache}}

		<div class="row">
			<div class="twelve columns">
				<h3>SKABot statistik</h3>
			</div>
		</div>

		<div class="row">
			<div class="twelve columns">
				På den här sidan finns lite aggregerad statistik över alla ljudfiler som spelas på SängkammarN's Discord-server.
			</div>
		</div>

	</div>

</body>
</html>
