<div class="row">
	<div class="twelve columns">
		<a class="button button-primary" href="/">Start</a>
		<a class="button button-primary" href="/topplistan">Ljudtopplistan</a>
		<a class="button button-primary" href="/anvandartoppen">Användartoppen</a>
		<a class="button button-primary" href="/historik">Historik</a>
		<br><br>
	</div>
</div>
